:root{
    --accent-color: rgba(8, 61, 152, 0.869);
    --primary-color: rgb(231, 223, 212);
    --select-color: rgba(255, 247, 0, 0.726);
}

.credentialContainer{
    margin-top: 50px;
    display: flex;
    justify-content: start space-evenly;
    width: 100%;
}


.credential{
    display: flex;
    color: var(--accent-color);
    padding: 20px;
}

.outputContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.outputContainer h1{
    display: flex;
    color: var(--accent-color);
    
}

.output{
color: var(--accent-color);
padding: 20px;
align-content: space-evenly;
display: flex;
flex-direction: column;
width: 50%;
justify-content: center;
border: 5px solid var(--accent-color);
border-radius: 30px;
background-color: var(--primary-color);
width: 60%;
}

.container{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--accent-color);
    border-radius: 30px;
    background-color: white;
    font-weight:bolder;
}