{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<div class="flex flex-col justify-center">
    <div class="flex justify-center">
        <div >
            <form action="/" method="post" class="">
            <p>ID:<input type="text" name="id" class="bg-white " /><input type="submit" value="submit" /></p> 
            </form></div>
    </div>

    <div class="flex justify-center margin font-bold mb">
            <h1>Output</h1>
    </div>
    <div class="flex justify-center">
        
        <div class="border-primary rounded-3xl border-5 w-6/12 h-32" >
                {% for i in item %}
                    
                    <td>{{i | safe}}</td>

                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}