{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='gene.css') }}">

{% endblock %}


{% block body %}

<div class="credentialContainer">
    <div class="credential">User ID: <input></div>
</div>
<div class="outputContainer">
    <h1>Output</h1>
</div>

<div class="outputContainer" style="margin-top: 5px;">
    
    <div class="output">
            {% for i in item %}
                
                <td>{{i | safe}}</td>

            {% endfor %}
    </div>
</div>

{% endblock %}