{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% endblock %}

{% block body %}

<div style="display: flex; justify-content: start; flex-direction: column;">

  <div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="title">About Me</h1>
  </div>
    <div class="profileContainer" >
      <img class="pfp" src="{{ url_for('static', filename='images/me.png') }}">
      <p>word word word</p>
    </div>


</div>

{% endblock %}