{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">

{% endblock %}

{% block body %}

<div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="title">Projects</h1>
</div>

<div class="projectContainer">
   <div>
    <h1>BubbleSort</h1>
    <p>Bubble Sort is a NES style high score game my friends and I made for the Thompson Rivers University global game jam. It was built in the Godot game and is a blast to play.</p>
   </div>
   
   <div>
    <h1>Osu Gene</h1>
    <p>Osu Gene is a Python Program that uses a genetic algorithm to suggest Osu Beatmaps given a user's play history. It was originally a school project for my procedural content generation class but I have choosen to keep improving it as I really like the idea.</p>
   </div>
</div>
{% endblock %}
